*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}

body{
	font-family: Copperplate,Copperplate Gothic Light,fantasy;
    background-image: url("../images/fonddebloque.png");
    background-size: cover;
    background-position: center top 5%;	
	margin: 0;
    padding: 0;

}

nav[id=menu] ul{
	list-style-type: none;
}

nav[id=menu] li{
	float: left;
	width: 25%;
	text-align: center;
}

nav[id=menu] ul::after{
	content: "";
	display: table;
	clear: both;
}

nav[id=menu]{
	width: 100%;
	background-color: #03011a; 
	margin: 0 auto;
	position: sticky;
	top: 0px;
}

nav[id=menu] a{
	display: block;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
	text-align: center;
}

nav[id=menu] a:hover{
	color:orange;
	border-bottom: 2px solid gold;
}

h1 {
	font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-size: 60px;
    margin-bottom: 70px;
	color: #3affff;
	text-align: center;
}

h2 {
	font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-size: 20px;
	color: #3affff;
	margin-bottom: 10px;
}

 #form-debloquer {
	font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-size: 20px;
    margin-bottom: 20px;
	margin-left: 5%;
	color: #3affff;
}


 [type="text"] {
	font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-size: 30px;
    background: rgba(3,9,9,0.4);
	color: yellow;
	border: 1px white	; 
    border-radius: 5px;
    box-sizing: border-box; 
	 padding: 10px 25px;
 }
 
 [type="submit"] {
    color: black;
    border: none;
    padding: 10px 25px;
    border-radius: 15px;
}
 [type="submit"]:hover {
    background: yellow;
}


div {
    background-color: black;
    color: white;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
	height: 3%;
    padding: 10px ;
	
}
div p{
	font-family: Copperplate,Copperplate Gothic Light,fantasy;
	font-size: 20px;
    margin-bottom: 10px;
	 text-align: center;
}
	


