* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
    background-image: url('../images/Fondconstellation2.png'); 
    background-size: cover; 
    background-position: center top 5%; 
    color: white; 
	text-align: center;
    padding: 2% 0;
}


h1 {
    font-size: 90px;
    margin-bottom: 20px;
}

h2 {
    font-size: 70px;
    margin-bottom: 20px;
}

p {
    font-size: 30px;
    margin-bottom: 40px;
	color: #7cffff;
}

#lien {
	font-size: 40px;
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
	margin-bottom: 10%;
}

/* met une couleur quand on passe la souris */
#lien:hover {
    background-color: #F4C430;
}


footer {
    background-color: black;
    color: white;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
	height: 4%;
    padding: 10px ;
	
}
footer p{
	font-size: 18px;
    margin-bottom: 10px;
	 text-align: center;
}
	
