*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}

body{
    background-image: url("../images/Fondetoile.png");
    background-size: cover;
    background-position: center top 5%;	
}

h1,h2{
    position: absolute; /* Position absolue */
    bottom: 20px; /* Ajustez cette valeur pour le positionnement */
    width: 100%; /* Pour centrer le texte */
	color: white;
	
}
	

nav[id=menu] ul{
	list-style-type: none;
}

nav[id=menu] li{
	float: left;
	width: 20%;
	text-align: center;
}

nav[id=menu] ul::after{
	content: "";
	display: table;
	clear: both;
}

nav[id=menu]{
	width: 100%;
	background-color: #03011a; 
	margin: 0 auto;
	position: sticky;
	top: 0px;
}

nav[id=menu] a{
	display: block;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
	text-align: center;
}

nav[id=menu] a:hover{
	color:orange;
	border-bottom: 2px solid gold;
}


 #image{
	width: 30%;
	margin: auto;  	
	position: absolute;
	top: 18%;
	bottom: 20%;
	left: 18%;
	right: 20%;

}





#elements {
    margin-top: 40%;
    padding: 20px;
}

#elements div {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: black;
    text-align: left;
}