/* Menu */
*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}

body{
    background-image: url("../images/Fondconstellation.png");
    background-size: cover;
    background-position: center top 5%;	
}


nav[id=menu] ul{
	list-style-type: none;
}

nav[id=menu] li{
	float: left;
	width: 25%;
	text-align: center;
}

nav[id=menu] ul::after{
	content: "";
	display: table;
	clear: both;
}

nav[id=menu]{
	width: 100%;
	background-color: #03011a; 
	margin: 0 auto;
	position: sticky;
	top: 0px;
}

nav[id=menu] a{
	display: block;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
	text-align: center;
}

nav[id=menu] a:hover{
	color:orange;
	border-bottom: 2px solid gold;
}

/* Fin menu */



h1 {
	text-align: center;
	margin-top: 1%;
    font-size: 70px;
    margin-bottom: 5%;
	color: #7affff;
	font-family: Copperplate,Copperplate Gothic Light,fantasy;
}

#disc {
	font-family: Copperplate,Copperplate Gothic Light,fantasy;    
    font-size: 3em;
    background-color: #25245c;
    color: white;
	border: 1px white	; 
    border-radius: 5px;
    box-sizing: border-box;
	margin-left: 7%;
	text-decoration: none;
	background: rgba(9,9,9,0.5);
}
