
* {
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}

body {
    background-image: url("../images/fondrecherche.png");
    background-size: cover;
    background-position: center top 5%;	
}

h1, h2 {
    color: white;
    text-align: center;
	font-family: Copperplate, Copperplate Gothic Light, fantasy; 
	font-size: 2em;	
	margin-top: 2%;
	margin-bottom: 2%;
}

nav[id=menu] ul {
	list-style-type: none;
}

nav[id=menu] li {
	float: left;
	width: 25%;
	text-align: center;
}

nav[id=menu] ul::after {
	content: "";
	display: table;
	clear: both;
}

nav[id=menu] {
	width: 100%;
	background-color: #020008; 
	margin: 0 auto;
	position: sticky;
	top: 0px;
}

nav[id=menu] a {
	display: block;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
	text-align: center;
	transition: border-bottom 0.3s ease, color 0.3s ease; 
}

nav[id=menu] a:hover {
	color: #ff7b00; 
	border-bottom: 2px solid #ff7b00; 
}



h1 {
    font-size: 70px;
}

h2 {
    font-size: 30px;
}

input[type="text"] {
	margin-left: 3%;
	width: 60%; 
    padding: 12px; 
    border: none; 
    border-radius: 25px; 
    box-sizing: border-box; 
	background-color: rgba(255, 255, 255, 0.5); 
    transition: background-color 0.3s ease; 
}

input[type="text"]:focus {
    background-color: rgba(255, 255, 255, 0.8); 
}

#results {
    margin-top: 3%;
    text-align: center; 
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 20px;
    background-color: rgba(58, 255, 255, 0.8); 
    color: white;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

a{
	text-decoration: none;
}