*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}

body{
    background-image: url("../images/Fondetoile.png");
    background-size: cover;
    background-position: center top 5%;	
}

h1,h2{
    color: white;
    text-align: center;
	font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 
	font-size: 2em;	
	
}
	

nav[id=menu] ul{
	list-style-type: none;
}

nav[id=menu] li{
	float: left;
	width: 20%;
	text-align: center;
}

nav[id=menu] ul::after{
	content: "";
	display: table;
	clear: both;
}

nav[id=menu]{
	width: 100%;
	background-color: #03011a; 
	margin: 0 auto;
	position: sticky;
	top: 0px;
}

nav[id=menu] a{
	display: block;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
	text-align: center;
}

nav[id=menu] a:hover{
	color:orange;
	border-bottom: 2px solid gold;
}


 #image{
	width: 30%;
	margin: auto;  	
	position: absolute;
	top: 18%;
	bottom: 20%;
	left: 18%;
	right: 20%;

}



