/*menu */

*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}

body{
	font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;
    background-image: url("../images/fondabonnement2.jpg");
    background-size: cover;
    background-position: center top 5%;	
}

nav[id=menu] ul{
	list-style-type: none;
}

nav[id=menu] li{
	float: left;
	width: 25%;
	text-align: center;
}

nav[id=menu] ul::after{
	content: "";
	display: table;
	clear: both;
}

nav[id=menu]{
	width: 100%;
	background-color: #03011a; 
	margin: 0 auto;
	position: sticky;
	top: 0px;
}

nav[id=menu] a{
	display: block;
	text-decoration: none;
	color: white;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
	text-align: center;
}

nav[id=menu] a:hover{
	color:orange;
	border-bottom: 2px solid gold;
}


/* fin menu */


.abonnement {
	text-align: center;
	margin-top: 20%;
}
.abonnement button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}
.deja-abonne {
    padding: 20px;
    background-color: gray;
    color: white;
    font-size: 18px;
                /* Ajustez la largeur pour qu'elle soit raisonnable pour le texte */
    display: flex;
    justify-content: center;  /* Centre le contenu horizontalement */
    align-items: center;      /* Centre le contenu verticalement */
}

h1, p{
	text-align: center;
	color: white;
}
