body{
    background-image: url("../images/Fondconstellation3.png");
    background-size: cover;
    background-position: center;
    
    font-family: Arial;
    background-color: white;
    margin: 0;
    padding: 0;
}


h1{
    color: white;
    text-align: center;
}

h2{
	color: yellow;
	text-align: center;
}

form {
    max-width: 365px;
    margin: 50px auto;
	padding: 25px; 
	background-color: darkblue	;
    color: white;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%; 
    padding: 10px;
    border: 1px white	; 
    border-radius: 5px;
    box-sizing: border-box; 
}
input[type="submit"] {
    background: #3fafff;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: yellow;
}

textarea{
    width: 100%;
    padding: 10px;
    border: 1px white; 
    border-radius: 5px;
    box-sizing: border-box; 
}


	
