*{
	margin: 0px;
	padding: 0px;
	font-family: Avenir, sans-serif;
}

body{
    background-image: url("fondabonnement2.jpg");
    background-size: cover;
    background-position: center top 5%;	
}

div{
	background-color: aqua;
}

 #image{
	width: 30%;
	margin: auto;  	
	position: absolute;
	top: 18%;
	bottom: 20%;
	left: 18%;
	right: 20%;

}



