body{
    background-image: url("Images/Fondconstellation2.png");
    background-size: cover;
    background-position: center top 5%;
    
}

h1,h2{
    color: white;
    text-align: center;
}

div{
    width: 500px;
    height: 500px;
    text-align: center;
    background-color: white;
    
}